* {
    /*background: rgba(0, 0, 0, .1);*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 200ms;
    -moz-transition: background 200ms;
    -ms-transition: background 200ms;
    -o-transition: background 200ms;
    transition: background 200ms;
}

body {
    background: #f5f5f5;
    font-size: 14px;
    color: #555;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container:before,
.container:after,
.clearf{
    content: "";
    display: block;
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    position: relative;
    min-height: 1px;
    float: left;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.top-nav {
    background: #eee;
}

.top-nav .item {
    display: inline-block;
    color: #666;
    padding: 6px 20px;
}

.header {
    padding: 20px 0;
}

.menu-line {
    background: #42BD40;
	height:2px;
	
}


.my-part01 {
   
	padding-top:8px;
}



.mycar-footer {
   

	width:100%;
	background:#ffffff;
	position:fixed;
	bottom:8px;
}

.mycar-footer .select-all {
	position:absolute;
	left:12px;
	top:12px;
}

.mycar-footer .t1 {
	position:absolute;
	left:40px;
	top:12px;
}
.mycar-footer .del {
	position:absolute;
	left:80px;
	top:12px;
}
.mycar-footer .goods-text {
	position:absolute;
	left:450px;
	top:12px;
}
.mycar-footer .price-text {
	position:absolute;
	left:550px;
	top:12px;
}

.mycar-footer .pay-btn {
	position:absolute;
	width:100px;
	height:48px;
	right:0px;
	text-align:center;
	color:#ffffff;
	background:#878787;
	font-size:18px;
	padding-top:10px;
}

.mycar-footer .redbtn {
	
	color:#ffffff;
	background:#e51c23;
	
}



.my-part01 .left {
   
	float:left;
	width:200px;
	min-height:320px;
	padding-top:32px;
	background:#ffffff;
}


.my-part01 .left .item {
	float:left;
	width:200px;
	height:32px;
}

.my-part01 .left .selected {
	background:#eaeaea;
}


.my-part01 .left .item a{
	display:inline-block;
	color:#2b2b2b;
	padding:6px 8px;
}


.my-part01 .order-menu{
	
	width:98%;
	height:40px;
	
}

.my-part01 .order-menu .item{
	display:inline-block;
	float:left;
	padding:8px 10px 2px 10px;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#ffffff;
}


.my-part01 .order-menu .item a{
	font-size:14px;
	color:#2b2b2b;
}



.my-part01 .order-menu .selected{
	
	border-bottom-color:#f57c00;
	
}


.my-part01 .order-menu .order-ul{
	
	float:left;
	width:98%;
	margin-left:8px;
	margin-top:4px;
}

.my-part01 .order-head{
	
	float:left;
	width:100%;
	height:40px;
	background:#f5f5f5;
	margin-top:12px;
}

.my-part01 .order-head li{
	padding:8px 13px;
	float:left;
	color:#909090;
	font-size:13px;
}


.my-part01 .address-list{
	float:left;
	width:840px;
	background:#ffffff;
	margin-left:16px;
	margin-right:16px;
	
}

.my-part01 .address-list .item{
	
	height:50px;
	width:100%;
	
}

.my-part01 .address-list .item li{
	float:left;
	height:50px;
	padding-left:10px;
	padding-top:16px;
}


.my-part01 .address-list li a{
	color:#42BD40;
	padding:6px 2px;	
}




.my-part01 .car-list{
	float:left;
	width:840px;
	background:#ffffff;
	margin-left:16px;
	margin-right:16px;
	padding-bottom:16px;
	
}

.my-part01 .car-list .item{
	float:left;
	margin-top:16px;
}

.my-part01 .car-list .item li{
	float:left;
	padding-left:10px;
	padding-top:16px;
}

.my-part01 .car-list .goodsimg{
	float:left;
	width:56px;
	max-width:100%;
}

.my-part01 .car-list .goodsname{
	float:left;
	width:160px;
	margin-left:8px;
	
}
.my-part01 .car-list .guige{
	float:left;
	width:120px;
	text-align:center;
	font-size:12px;
	color:#cccccc;
	
}


.my-part01 .car-list li .item-del{
	color:#42BD40;
	padding:6px 2px;	
}


.my-part01 .car-list  .count-div {
	
		
		position:relative;
		
}



.my-part01 .car-list .c-sub {
	position:absolute;
	font-size:14px;
	width:26px;
	height:35px;
	color:#545454;
	text-align:center;
	padding-top:4px;
}

.my-part01 .car-list .c-count {
	position:absolute;
	left:30px;
	font-size:14px;
	width:50px;
	height:35px;
	color:#545454;
	
	padding-top:6px;
	text-align:center;
}

.my-part01 .car-list .c-add {
	position:absolute;
	left:84px;
	font-size:14px;
	width:26px;
	height:35px;
	color:#545454;
	text-align:center;
	padding-top:4px;
}




.my-part01 .order-list{
	float:left;
	width:100%;
	background:#ffffff;
	padding-top:16px;
}

.my-part01 .order-list .order-no{
	
	height:40px;
	background:#e8eaf6;
	width:100%;
	float:left;
}

.my-part01 .order-list .order-detail{
	
	width:100%;
	float:left;
	min-height:115px;
}


.my-part01 .order-list .order-detail .gooditem{
	float:left;
	min-height:115px;
	width:100%;
	
	padding-bottom:16px;
	color:#2b2b2b;
}
.my-part01 .order-list .order-detail .dli{
	float:left;
	padding-top:16px;
}

.text-center {
	text-align:center;
}


.my-part01 .order-list .lframe{
	border-left-color:#eaeaea;
	border-left-width:1px;
	border-left-style:solid;
}

.my-part01 .order-list .tframe{
	border-top-color:#eaeaea;
	border-top-width:1px;
	border-top-style:solid;
}

.my-part01 .order-list .order-detail .gooditem img{
	
	width:68px;
	height:68px;
	float:left;
}

.my-part01 .order-list .order-detail .gooditem .text{
	
	float:left;
	margin-top:8px;
	margin-left:8px;
	width:300px;
}




.my-part01 .order-list .order-no .t1{
	font-size:13px;
	color:#2b2b2b;
	display:inline-block;
	padding-right:48px;
	padding-left:16px;
	padding-top:10px;
}


.my-part01 .order-list .red-btn{
	width:72px;
	height:24px;
	text-align:center;
	background:#ff9800;
	color:#ffffff;
	font-size:10px;
	float:left;
	margin-left:24px;
	padding-top:2px;
	margin-top:8px;
}

.my-part01 .order-list .gray-btn{
	width:72px;
	height:24px;
	text-align:center;
	background:#fffff;
	color:#2b2b2b;
	font-size:10px;
	float:left;
	margin-left:24px;
	padding-top:2px;
	margin-top:8px;
}


.my-postion{
	
	
}

.my-postion .item{
	display:inline-block;
	padding:4px 2px;
	color:#cccccc;
}




.footer {
    text-align: center;
    margin-top: 30px;
    background: #eee;
    padding: 50px 0;
    color: #999;
}

.footer a {
    color: #999;
    margin-left: 10px;
}



.top-menu {
    background: #eaeaea;
}

.top-menu .right {
	position:absolute;
	left:850px;
}

.top-menu .item {
	padding:8px 6px;
	display:inline-block;
	color:#c7c7c7;
	font-size:14px;
}
.top-menu .item:hover {
	
	color:#e51c23;
}