<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	
	
		<!-- 校验权限是否匹配 -->
	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<constructor-arg>
			<list>
				<bean class="com.xwke.security.client.AuthenticatedVoter"/>
				<bean class="com.xwke.security.perm.PermissionVoter">
					<property name="permissionChecker" ref="permissionChecker"/>
				</bean>
			</list>
		</constructor-arg>
	</bean>

	<!-- 校验权限 -->
	<bean id="permissionChecker" class="com.xwke.security.perm.PermissionChecker"/>
	
	

	<!-- 认证 -->
	<bean id="authenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="userDetailsService" />
		<property name="passwordEncoder" ref="passwordEncoder" />
	</bean>


	<!-- 这个是SPI，仅在spring security认证时获取密码用 -->
	<bean id="accountCredentialConnector"
		class="com.xwke.security.support.MockAccountCredentialConnector" />

	<bean id="accountAliasConnector" class="com.xwke.security.support.MockAccountAliasConnector" />

	
	
	<bean id="userAuthService" class="com.xwke.spider.web.service.impl.UserAuthServiceImpl" />

	<!-- 为认证获取用户信息 -->
	<bean id="userDetailsService" class="com.xwke.security.client.DefaultUserDetailsService">
		<property name="userAuthService" ref="userAuthService" />
	</bean>
	
	

	<!-- 密码加密器 -->
	<bean id="passwordEncoder" class="com.xwke.security.util.PasswordEncoderFactoryBean">
		<property name="type" value="md6" />
		<property name="salt" value="wtf999" />
	</bean>

	<!-- 获取当前登录用户的工具 -->
	<bean id="currentUserHolder"
		class="com.xwke.security.client.SpringSecurityCurrentUserHolder" />

	<!-- 验证码 -->
	<bean id="captchaFilter" class="com.xwke.security.client.CaptchaFilter" />
	

	<!-- 日志 -->
	<bean
		class="org.springframework.security.authentication.event.LoggerListener" />
	<bean class="org.springframework.security.access.event.LoggerListener" />

	<!-- 测试环境下使用的自动登录工具 -->
    <bean id="autoLoginFilter" class="com.xwke.security.client.AutoLoginFilter">
		<property name="enabled" value="false" />
		<property name="defaultUserName" value="lxg774" />
		<property name="userDetailsService" ref="userDetailsService" />
    </bean>
    
    
    
	<!-- 认证成功后，记住最后使用的账号 -->
	<bean id="authenticationSuccessHandler"
		class="com.xwke.security.util.RememberLastUsernameAuthenticationSuccessHandler" />

	<!-- 认证失败后，记住最后使用的账号 -->
	<bean id="authenticationFailureHandler"
		class="com.xwke.security.util.RememberLastUsernameAuthenticationFailureHandler">
		<property name="defaultFailureUrl" value="/common/login.jsp?error=true" />
	</bean>

	<!-- 注销成功以后发送LogoutEvent -->
	<bean id="logoutSuccessHandler" class="com.xwke.security.util.LogoutSuccessHandlerImpl" />





</beans>
